{% extends "tools_app/base.html" %}

{% block content %}
  <h2>TL;DR:</h2>
  <ul>
    {% for ip in ips %}
      <li>{{ ip }}</li>
    {% endfor %}
  </ul>
  <h2>The deets:</h2>
  <table class="table table-sm small">
    {% for entry in all_entries %}
      <tr>
	<td>{{ entry.timestamp }}</td>
	<td>
	  <div class="text-nowrap">{{ entry.checkuser }} got {{ entry.type }} for <span class="font-weight-bold">{{ entry.target }}</span></div>
	  <div class="text-nowrap">{{ entry.reason }}</div>
	</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
