{% extends "tools_app/base.jinja" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ static("spi/select2.min.css") }}">
  <link rel="stylesheet" href="{{ static("spi//select2-bootstrap4.min.css") }}">
{% endblock %}


{% block content %}

  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}

  {% for e in form.non_field_errors() %}
    <div class="alert alert-danger" role="alert">
      {{ e }}
    </div>
  {% endfor %}

  <h1><small>SPI Tools</small></h1>
  <form action="" method="post">
    {{ csrf_input }}
    <div class="mt-3">
      {% for e in form.errors.case_name %}
	<div class="alert alert-danger" role="alert">
	  {{ e }}
	</div>
      {% endfor %}
      <p class="mb-2">{{ form.case_name }}</p>
      <p class="mb-0">
	<input type="submit" name="ip-info-button" value="IP Info">
	<input type="submit" name="sock-select-button" value="Interactions">
	<input type="submit" name="g5-button" value="G5">
      </p>
    </div>
  </form>
{% endblock %}

{% block page_scripts %}
  <script src="{{ static("spi/select2.min.js") }}"></script>
  <script>
   {% include "spi/index.js" %}
  </script>

{% endblock %}
