{% extends "tools_app/base.html" %}

{% block content %}
<h1><small>Page analysis for {{ case_name|spi_link }}</small></h1>
<div class="mt-3">
  <table id="pages" class="table table-sm">
    <tr>
      <th>Title</th>
      <th>Edits</th>
      <th>Editors</th>
      <th>Reverts</th>
    </tr>
    {% for title, count in page_data.edit_counts.most_common() %}
    <tr>
      <td>{{ title|page_link }}</td>
      <td>{{ count }}</td>
      <td>{{ page_data.editor_counts[title] }}</td>
      <td>{{ page_data.reverted_counts[title] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
