{% extends "tools_app/base.jinja" %}

{% block content %}
  <h1><small>User analysis for {{ user_name }}</small></h1>

  Show a consolidated history of {{ user_name|user_link }}'s activity.  This merges items from
  their {{ user_name|contributions }}, {{ user_name|deleted_contributions }}, and various logs.

  {% for e in form.non_field_errors() %}
    <div class="alert alert-danger" role="alert">
      {{ e }}
    </div>
  {% endfor %}

  <form action="" method="post">
    {{ csrf_input }}
    <div class="mt-3">
      <p class="mb-2">Display {{ form.count }} total items</p>
      <p class="mb-0">Include namespaces:</p>
      <p class="mb-0">{{ form.main }} main</p>
      <p class="mb-0">{{ form.draft }} draft</p>
      <p class="mb-2">{{ form.other }} all others</p>
      <p class="mb-2"><input type="submit" name="go-button" value="Go"></p>
    </div>
  </form>
{% endblock %}
